html, body {
    background:url(../images/web-feature-bg.jpg) center top no-repeat;
    color:#555;
}
h2 {
    font-family:Aller, "Open Sans", Arial, Helvetica, Trebuchet, Tahoma, sans-serif;
    font-size:36px;
    font-weight:bold;
}
h4 {
    font-family:Aller, "Open Sans", Arial, Helvetica, Trebuchet, Tahoma, sans-serif;
    font-size:21px;
    font-weight:bold;
    text-transform:uppercase;
}
p {
    font-family:"Open Sans", Arial, Helvetica, Trebuchet, Tahoma, sans-serif;
    font-size:19px;
}
ul {
    padding-left:0;
}
#header {
    height:143px;
}




#feature {
    height:500px;
}
#feature .imgphones img {
    margin-top:43px;
}
#feature .text {
    margin-top:30px;
    font-family: Aller, "Open Sans", Arial, Helvetica, Trebuchet, Tahoma, sans-serif;
}
#feature p, #feature h1 {
    color:#FFF;
}
#feature p:first-child {
    font-size:52px;
    font-weight:bold;
}
#feature p:last-child {
    font-size:21px;
}
#feature h1 {
    font-size:37px;
}

#aboutus {
    padding-top:90px;
    background:url(../images/bg-about-us.png) left bottom repeat-x;
}



#macro {
    border-top:1px solid #CCC;
    margin-bottom:90px;
}

#contact {
    margin-bottom:90px;
}
#contact .writeup p {
    font-family:"Open Sans", Arial, Helvetica, Trebuchet, Tahoma, sans-serif;
    font-size:16px;
}

#footer {
    border-top:1px solid #CCC;
}